@import '../../styles/variable.styl'

.panel-area
  position relative
  flex 1
  display flex
  align-items flex-start
  flex-direction: row-reverse
  gap 6px
  .panel
    position relative
    width 350px
    max-height 100vh
    height 632px
    overflow auto
    padding 40px 30px
    border-radius 5px
    background rgba(255, 255, 255, 0.8)
    backdrop-filter blur(10px)
    display flex
    flex-direction column

    .panel-tabs
      display flex
      cursor pointer
      margin 0 20px
      input
        display none
      .tab
        position relative
        padding 8px
        width 50%
        border 1px solid $color-primary
        text-align center
        color $color-primary
        cursor pointer
        transition background 0.2s, color 0.2s
        &:hover
          background $color-primary-pale
        &:active
          background $color-primary
          color #FFFFFF
      .tab ~ .tab
        margin-left -1px
      input:checked + .tab
        z-index 1
        background $color-primary
        color #FFFFFF
      .tab:first-of-type
        border-radius 5px 0 0 5px
      .tab:last-of-type
        border-radius 0 5px 5px 0
    .section-settings
      margin-top 30px 
      flex 1
    ul.panel-list
      width 100%
      padding 0 20px
      display flex
      flex-direction column
      gap 20px
      list-style-type none
      font-size 14px
      .panel-item
        display flex
        flex-direction column
        gap 4px
        user-select none
        .panel-item-header
          display flex
          align-items center
          justify-content space-between
          cursor default
          .panel-item-value
            position relative
            color $color-primary
        input[type=range]
          -webkit-appearance none
          background-color transparent
          outline none
          border none
          height 14px
          flex 1 1 auto
          cursor pointer
        input[type=range]::-webkit-slider-runnable-track
          -webkit-appearance none
          height 2px
          border-radius 2px
          background $light-gray
        input[type=range]::-webkit-slider-thumb
          -webkit-appearance none
          width 14px
          height 14px
          margin-top -6px
          background white
          border 2px solid $color-primary
          box-shadow 0 0 0 3px $color-primary-pale
          border-radius 50%
          transition transform 0.2s
          &:hover
            transform scale(1.08)
        .color-info
          display flex
          justify-content space-between
          align-items center
          margin-left 1px
          margin-top 4px
          .color-swatches
            display flex
            gap 8px
            .color-swatch
              width 16px
              height 16px
              border-radius 5px
              cursor pointer
          .color-display
            position relative
            input[type='color']
              position absolute
              width 100%
              height 100%
              padding 0
              opacity 0
              cursor pointer
            .color-value
              width 18px
              height 18px
              border-radius 5px
              border 1px solid $light-gray

    .section-code
      margin 36px 8px 0
      flex 1
      
      .code-block
        margin 0px
        height 100%
        padding 10px
        background #fff
        border-radius 5px
        border 1px dotted $color-primary-pale
        font-family monospace
        font-size 13px
        line-height 1.5
        color $color-primary-accent

        code
          white-space pre-wrap

  .mode-button
    width: 32px
    height: 32px
    margin-top 0px
    display: flex
    align-items: center
    justify-content: center
    border-radius 5px
    background rgba(255, 255, 255, 0.8)
    backdrop-filter blur(10px)
    font-size 12px
    color $color-primary
    cursor pointer
    transition: all 0.3s ease
    &:hover
      background: $color-primary-pale
    &.active
      background $color-primary
      color white
