$bg-light = #EFEFE2
$bg-primary-light = #D0F0E6
$color-primary-pale = #E6F9F3
$color-primary = #08C18A
$color-primary-accent = #0FA564
$color-primary-strong = #0C985B
$gray = #D4D4D7
$light-gray = #E7E7EA
